accelerate==1.0.1
datasets==3.1.0
dotenv==0.9.9
geopy==2.4.1
scikit-learn==1.7.2
krippendorff==0.8.1
peft==0.13.2
torch==2.6.0
transformers==4.51.3
trl==0.12.1
tqdm==4.66.5
wandb==0.19.1
vllm==0.8.2
bitsandbytes==0.45.0
timm==1.0.13
deepspeed==0.16.2
qwen_vl_utils==0.0.10
openai==1.78.0
azure-ai-inference==1.0.0b9
azure-core==1.36.0
pillow==11.2.1
anthropic==0.67.0
google-api-core==2.24.2
google-auth==2.39.0
google-genai==1.38.0